<nav>

  <h1 id="main-title"><a href="/games" class="brand-logo left">The Cartridge Crematorium</a></h1>

  <div id="nav-buttons">

    <% if (currentUser) {%>

      <a href="/games/new">
        <div class="banner-button">
          Add a New Game
        </div>
      </a>

      <form class="" action="/sessions?_method=DELETE" method="post">
        <input type="submit" value="Log Out" class="banner-button">
      </form>

      <p id="banner-name">Welcome, <%= currentUser.username%></p>

    <%} else {%>

      <a href="/users/new">
        <div class="banner-button">
          Sign Up
        </div>
      </a>

      <a href="/sessions/new">
        <div class="banner-button">
          Log In
        </div>
      </a>

    <%}%>

  </div>

</nav>
