<a href="/games" class="brand-logo left">The Cartridge Crematorium</a>
<ul class="right">

  <% if (currentUser) {%>
    <li><a href="/games/new">Add a New Game</a></li>
    <li>Welcome, <%= currentUser.username%></li>
    <li>
      <form class="" action="/sessions?_method=DELETE" method="post">
        <input type="submit" value="Log Out" class="btn-small red">
      </form>
    </li>
  <%} else {%>
    <li><a href="/users/new">Sign Up</a> </li>
    <li><a href="/sessions/new">Log In</a> </li>
  <%}%>

</ul>
