/*
605963 Dark Grey
C0C1C0 Med Grey
E1DDD3 Light Grey
9D856D Light Brown
4B2D20 Dark Brown
*/

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 20px;
}

h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  /* background-color: #E1DDD3; */
  background-image: linear-gradient(45deg, #e1ddd3 45.45%, #c0c1c0 45.45%, #c0c1c0 50%, #e1ddd3 50%, #e1ddd3 95.45%, #c0c1c0 95.45%, #c0c1c0 100%);
  background-size: 31.11px 31.11px;
}

#topmost-margin {
  height: 60px;
}

#bottommost-margin {
  height: 20px;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #9D856D;
  /* border-radius: 5px; */

  /*
  -webkit-box-shadow: 0px 0px 4px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 4px 0px rgba(255,255,255,1);
  */

}

header {
  padding: 20px;
  height: 120px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/backgrounds/banner-bg.jpg');
  /* background-position: center top; */
}

#nav-buttons {
  position: relative;
  float: right;
  width: 194px;
}

#nav-buttons form {
  display: inline-block;
}

#main-title {
  float: left;
  position: relative;

  /* width: 400px; */

}

#main-title a {
  color: #FFF;
  text-decoration: none;
}

.banner-button {
  display: inline-block;
  background-color: #C0C1C0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 3px;
  font-size: 10px;
  border: 1px solid #DDD;
  cursor: pointer;
  float: right;
  margin-left: 8px;
  transition: 0.2s ease-in-out;
}

.banner-button:hover {
  background-color: #2098D1;
  color: white;
}

#banner-name {
  text-align: right;
  color: #FFF;
}

#index-intro {
  width: 90%;
  margin: auto;
  color: #EEE;
}

#index-intro p {
  line-height: 26px;
}

#game-head-cont {
  width: 90%;
  margin: auto;
}

#game-head {
  width: 83%;
  margin: auto;
  background-color: #C2C2C2;
  display: flex;
  height: 50px;
  line-height: 100px;
  text-align: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 7%;
  color: #444;
}

.game-head-title {
  width: 30%;
  text-align: right;
}

.game-head-smallimage {
  max-width: 200px;
  width: 120px;
}

.game-head-system {
  width: 10%;
}

#game-list {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}

.game-bar {
  background: rgb(205,205,205);
  background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(226,226,226,1) 100%);

  /*
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  */

  border-bottom: 2px dashed #CCC;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  /* font-family: Arial, sans-serif; */
  font-size: 20px;
  display: flex;
  height: 100px;
  line-height: 100px;
  text-align: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  color: #444;
}

.game-bar:hover {
  background: #DEDEDE;
}

.game-bar span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.game-title {
  width: 30%;
  text-align: right;
  font-weight: bold;
}

.game-smallimage {
  max-width: 200px;
  width: 100px;
}

.game-smallimage img {
  display: block;
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
  top: -10px;
}

.game-genre {

}

.game-system {
  width: 10%;
}

.game-summary {

}

.game-rating {

}

.game-price {

}

.game-quantity {
  width: 20px;
}

#login-signup-main {
  margin: auto;
  width: 40%;
  padding-bottom: 40px;
}

#login-signup-main h2 {
  margin-top: 0;
}

#login-signup-main label {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
}

#login-signup-main input[type=submit] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  height: 50px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
  border: 0px;
  transition: 0.2s ease-in-out;

  appearance: push-button;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  background-color: #DDD;
  box-sizing: border-box;
  border-width: 2px;

  text-transform: capitalize;

  border: 1px solid #EEE;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

#login-signup-main input[type=submit]:hover {
  background-color: #2098D1;
  color: white;
}

fieldset.user-info {
  border: 1px solid #fff;
  padding: 20px;
  margin: 20px 0;
  background-image: linear-gradient(45deg, #ffffff 25%, #f7f7f7 25%, #f7f7f7 50%, #ffffff 50%, #ffffff 75%, #f7f7f7 75%, #f7f7f7 100%);
  background-size: 56.57px 56.57px;
  color: #777;
}

/* .user-info legend {
  padding: 0 10px;
  font-weight: 500;
} */

.user-info label {
  display: block;
  text-align: right;
}

.user-info input, .user-info textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--dusty-blue);
  background-color: #FFF;
}

#show-main {
  width: 65%;
  margin: 30px auto 0;
  border: 8px solid #FFFFFF;
  background-image: linear-gradient(45deg, #ffffff 25%, #f7f7f7 25%, #f7f7f7 50%, #ffffff 50%, #ffffff 75%, #f7f7f7 75%, #f7f7f7 100%);
  background-size: 56.57px 56.57px;
  color: #777;
  display: flex;
}

#show-col-1 {
  display: block;
  width: 60%;
  padding: 10px;
}

#show-col-2 {
  display: block;
  width: 40%;
  padding: 10px;
}

#show-title {

}

#show-title p {
  font-size: 26px;
  font-weight: bold;
}

#show-genre-system {
  display: flex;
}

#show-genre {
  display: block;
  width: 70%;
  border: 8px solid #FFF;
  background-color: #FFF;
  margin-right: 10px;
  height: 20px;
}

#show-genre p {
  margin: 0;
  /* line-height: 10px; */
}

#show-system {
  display: block;
  width: 30%;
  border: 8px solid #FFF;
  background-color: #FFF;
  /* margin-right: 10px; */
  height: 20px;
}

#show-system p {
  margin: 0;
}

#show-summary {

}

#show-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-image img {
  margin: auto;
  display: inline-block;
}

.show-bar {

}

#action-bar {
  display: flex;
  width: 65%;
  margin: auto;
  background-color: #FFF;
  border: 8px solid #FFF;
  justify-content: center;
  padding-bottom: 5px;
}

#action-bar button {
  height: 40px;
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

#action-bar button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 2.7;
  vertical-align: middle;
  /* padding-top: 6%; */
}

#action-bar form {
  height: 40px;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
}

#action-bar input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

#edit-main {
  width: 65%;
  margin: 30px auto 0;
  border: 8px solid #FFFFFF;
  background-image: linear-gradient(45deg, #ffffff 25%, #f7f7f7 25%, #f7f7f7 50%, #ffffff 50%, #ffffff 75%, #f7f7f7 75%, #f7f7f7 100%);
  background-size: 56.57px 56.57px;
  color: #777;
  display: flex;
}

#edit-main form {
  width: 100%;
  display: flex;
}

#edit-col-1 {
  width: 60%;
  padding: 10px;
  display: block;
}

#edit-col-2 {
  width: 30%;
  padding: 10px;
  display: block;
}

#edit-title {

}

#edit-title input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  font-family: Arial, sans-serif;
}

#edit-genre {

}

#edit-genre input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  font-family: Arial, sans-serif;
}

#edit-summary {

}

#edit-showimage {

}

#edit-showimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-showimage img {
  margin: auto;
  display: inline-block;
}

#edit-smallimage {

}

#edit-smallimage p {
  margin-bottom: 6px;
}

#edit-smallimage input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  font-family: Arial, sans-serif;
}

.edit-bar {

}

.edit-bar p {
  margin-bottom: 6px;
}

.edit-bar input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  font-family: Arial, sans-serif;
}

#edit-main textarea {
  height: 300px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  font-family: Arial, sans-serif;
}

#edit-submit {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

#edit-back {
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

#edit-back a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2;
}

#new-main textarea {
  height: 120px;
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  font-family: Arial, sans-serif;
}

#footer-main {
  width: 80%;
  margin: auto;
  background-color: #9D856D;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
}
