/*
605963 Dark Grey
C0C1C0 Med Grey
E1DDD3 Light Grey
9D856D Light Brown
4B2D20 Dark Brown
*/

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  /* background-color: #E1DDD3; */
  background-image: linear-gradient(45deg, #e1ddd3 45.45%, #c0c1c0 45.45%, #c0c1c0 50%, #e1ddd3 50%, #e1ddd3 95.45%, #c0c1c0 95.45%, #c0c1c0 100%);
  background-size: 31.11px 31.11px;
}

#topmost-margin {
  height: 60px;
}

#bottommost-margin {
  height: 20px;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #9D856D;
  border-radius: 5px;

  /*
  -webkit-box-shadow: 0px 0px 4px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 4px 0px rgba(255,255,255,1);
  */

}

header {
  padding: 20px;
  height: 120px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/backgrounds/banner-bg.jpg');
  /* background-position: center top; */
}

#nav-buttons {
  position: relative;
  float: right;
  width: 194px;
}

#nav-buttons form {
  display: inline-block;
}

#main-title {
  float: left;
  position: relative;

  /* width: 400px; */

}

#main-title a {
  color: #FFF;
  text-decoration: none;
}

.banner-button {
  display: inline-block;
  background-color: #C0C1C0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 3px;
  font-size: 10px;
  border: 1px solid #DDD;
  cursor: pointer;
  float: right;
  margin-left: 8px;
}

.banner-button:hover {

}

#banner-name {
  text-align: right;
  color: #FFF;
}

.game-bar {
  display: flex;
}

.game-title {

}

.game-system {

}

.game-summary {

}

.game-rating {

}

.game-price {

}

.game-quantity {
  
}
