<!DOCTYPE html>
<html>
	<head>
    <%- include ('../partials/head.ejs') %>
	</head>
	<body>
		<header>
			<h1>Games Website Test</h1>
			<nav>
        <%- include ('../partials/nav.ejs') %>

				<!-- <ul>
					<li>
						<a href="/authors">Authors</a>
					</li>
					<li>
						<a href="/articles">Articles</a>
					</li>
				</ul> -->

			</nav>
		</header>
	</body>
</html>
