<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

  <body>

    <div id="topmost-margin">
		</div>

    <div class="container">

      <header>
        <%- include ('../partials/nav.ejs') %>
      </header>

      <div id="new-main">

        <h1>New Game</h1>

        <form action="/games" method="POST">

          <!-- Basic text line -->
          <label for="title">Title:</label>
          <input type="text" name="title" required />

          <!-- Text line for file name with browse button -->
          <label for="smallimage">Small Image:</label>
          <input type="text" name="smallimage" />

          <!-- Text line for file name with browse button -->
          <label for="largeimage">Large Image:</label>
          <input type="text" name="largeimage" />

          <!-- Dropdown with genre listings -->
          <label for="genre">Genre:</label>
          <input type="text" name="genre" />

          <!-- Dropdown with system listings -->
          <label for="system">System:</label>
          <input type="text" name="system" />

          <!-- Large text box for extended input -->
          <label for="summary">Summary:</label>
          <textarea id="summary" name="summary"></textarea>

          <!-- Dropdown with numeric listing from 1-5 -->
          <label for="rating">Rating:</label>
          <input type="text" name="rating" />

          <!-- Text line with numeric input -->
          <label for="price">Price:</label>
          <p>$</p><input type="text" name="price" />

          <!-- Text line with numeric input -->
          <label for="quantity">Quantity:</label>
          <input type="text" name="quantity" />
          <br/>

          <!-- <div>
            <label for="readyToEat">
              <input type="checkbox" id="readyToEat" name="readyToEat" />
              <span>Is Ready to Eat</span>
            </label>
          </div>
          <br/> -->

          <input type="submit" value="Submit">
        <form>

      </div>

    </div>

    <%- include ('../partials/footer.ejs') %>

    <div id="bottommost-margin">
		</div>

  </body>
</html>
