<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

  <body>

    <div id="topmost-margin">
		</div>

    <div class="container">

      <header>
        <%- include ('../partials/nav.ejs') %>
      </header>

      <h1>Games New Page</h1>

      <form action="/games" method="POST">

        <label for="title">Title:</label>
        <input type="text" name="title" required />

        <label for="smallimage">Small Image:</label>
        <input type="text" name="smallimage" />

        <label for="largeimage">Large Image:</label>
        <input type="text" name="largeimage" />

        <label for="system">System:</label>
        <input type="text" name="system" />

        <label for="summary">Summary:</label>
        <input type="text" name="summary" />

        <label for="rating">Rating:</label>
        <input type="text" name="rating" />

        <label for="price">Price:</label>
        <input type="text" name="price" />

        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" />
        <br/>

        <!-- <div>
          <label for="readyToEat">
            <input type="checkbox" id="readyToEat" name="readyToEat" />
            <span>Is Ready to Eat</span>
          </label>
        </div>
        <br/> -->

        <input type="submit" value="Submit">
      <form>

    </div>

    <%- include ('../partials/footer.ejs') %>

  </body>
</html>
